aiohappyeyeballs
aiohttp
aiosqlite
attrs
Brotli
certifi
cffi
charset-normalizer
discord.py
discord-ui
frozenlist
idna
multidict
mutagen
propcache
pycparser
pycryptodomex
PyNaCl
pytz
request
typing_extensions
urllib3
websockets
yarl
yt-dlp